.App {
  text-align: center;
}
.center{
 display:flex;
 justify-content:center;

}
.centerBlock{
  width: 500px;
  height: auto;
}
.particles{

  position: fixed;
  top:0;
  right:0;
  bottom: 0;
  left: 0;
  z-index: -1;
}